/* General typography */
body {
  background-color: #B47B76;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1.15;
}

h1 {
  line-height: 1.75;
  color: #FFF3F2;
}

h1 a {
  color: #FFF3F2;
}

h1 a:hover,
h1 a:focus,
h1 a:active {
  color: #FFF3F2;
}

h2, h3 {
  font-weight: 400;
  line-height: 1.3;
}

p {
  line-height: 1.65;
}

small {
  font-size: 70%;
}

strong {
  font-weight: 500;
}

a {
color: #454545;
}

em {
  font-style: oblique;
}

a:hover,
a:focus,
a:active {
  color: #BC8E8A;
  text-decoration: none;
}

/* General form styles */
label {
  margin-right: 0.5rem;
}

input, select {
  height: 50px;
  margin-right: 0.5rem;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #FFF;
  border-radius: 0;
  color: #FFF;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  -webkit-appearance: none;
}

input::placeholder {
  font-style: italic;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

select {
  background-image: url("../img/caret.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 8px;
  width: 100px;
}

button {
  cursor: pointer;
  background-color: transparent;
  vertical-align: bottom;
  color: #FFF;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 0.75;
  border: 0;
}

button:hover,
button:active,
button:focus {
  background-color: #FFF3F2;
  color: #B47B76;
}

/* Custom styles */
.header {
  padding: 5vh 0 2.5vh 0;
  min-height: 15vh;
}

.form {
  padding: 7.5vh 0 15vh 0;
  color: #FFF;
  font-size: 1.5rem;
}

.results {
  padding: 10vh 0;
  background-color: #FFF3F2;
  color: #454545;
}

.results__title {
  margin-bottom: 1rem;
  font-size: 1em;
}

.article {
  margin: 5vh 0 10vh 0;
  padding-right: 2.5vw;
}

.article__title {
  margin: 1rem 0;
  font-size: 1em;
}

.article__score-img {
  margin-top: 1rem;
}

.page-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-nav__item {
  display: inline-block;
}

.page-nav__link {

}

/* Bootstrap modals */
.modal-header .close {
  color: #FFF;
  font-weight: 400;
  text-shadow: none;
}

.modal-header .close:hover,
.modal-header .close:active,
.modal-header .close:focus {
  background-color: transparent;
}

.modal-content {
  background-color: #454545;
  border: 0;
  border-radius: 0;
  color: #FFF;
}

.modal-header {
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
}

.modal-content h2 {
  margin-bottom: 0;
}

.modal-content h3 {
  margin-bottom: 1rem;
}

.modal-content a {
  color: #FFF;
  font-weight: 500;
}

.modal-content img {
  width: 25%;
}

.modal-content hr {
  border-color: #FFF;
}

/* Animations & keyframes */

.header,
.form,
.results {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration:0.75s;
  -moz-animation-duration:0.75s;
  animation-duration:0.75s;
}

.header,
.form {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.results {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes fadeIn {
  from { opacity:0; } to { opacity:1; }
}

@-moz-keyframes fadeIn {
  from { opacity:0; } to { opacity:1; }
}

@keyframes fadeIn {
  from { opacity:0; } to { opacity:1; }
}
