{% extends 'base.html' %}
{% load timestamps %}

{% block content %}
<h2>KnowledgeTracker <sup><a href="#" title="What’s this?">?</a></sup></h2>

<form method="get">
  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
  <label for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field }}
  {% endfor %}
  <button type="submit">?</button>
</form>

<hr/>

{# Get number of pages for this query #}
{% widthratio search_results.query.total search_results.query.num_results 1 as page_number %}

{% if search_results %}
<section class="results">
  <h3 class="results__title">{{ search_results.query.total }} results for <strong>{{ request.GET.q }}</strong></h3>

  {% for article in search_results.results|dictsortreversed:"score" %}
  <article class="article">
    <h4 class="article__title">
      <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
    </h4>
    <p>
      {{ article.type|title }}
      {% if article.journal %} from <em>{{ article.journal|safe }}</em>{% endif %}
    </p>
    {% if article.is_oa %}
    <p>
      <strong>Available in Open Access</strong>
    </p>
    {% endif %}
    <dl>
      <dt>Published on</dt>
      <dd>{{ article.published_on|print_timestamp }}</dd>
    </dl>
    <p>
      <a href="{{ article.details_url }}" title="View additional Altmetric data" target="_blank">
        <img src="{{ article.images.medium }}" alt="Donut representation of this article’s Altmetric Attention Score: {{ article.score }}"/>
      </a>
    </p>
  </article>
  {% empty %}
  {{ search_results.message }}
  {% endfor %}
  {% for i in x|ljust:page_number %}
  <nav>
  {% if not forloop.first %}
    <a class="" href="{{ request.get_full_path }}&page={{ forloop.counter }}">{{ forloop.counter }}</a>
  {% endif %}
  </nav>
  {% endfor %}
</section>
{% endif %}

{% endblock %}
