{% extends 'base.html' %}
{% load timestamps static %}

{% block title %}{% if request.GET.q %}on “{{ request.GET.q }}”{% endif %}{% endblock %}

{% block content %}
<section class="form">
  <div class="container">
    <h2 class="sr-only">Search by keyword and timeframe</h2>
    <form method="get" autocomplete="off">
      {% for hidden_field in form.hidden_fields %}
      {{ hidden_field }}
      {% endfor %}

      {% for field in form.visible_fields %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label> {{ field }}<br class="d-lg-none d-xl-none"/>
      {% endfor %}

      <button type="submit"><ion-icon name="ios-search" size="large"></ion-icon><span class="sr-only"> Search</span></button>
    </form>
  </div>
</section>

{% if search_results %}
{# Get number of pages for this query #}
{% widthratio search_results.query.total search_results.query.num_results 1 as page_number %}

<section class="results">
  <div class="container">
    {% if search_results.results %}
    <h2 class="results__title">
      {% if page_number|add:"0" > 1 %}Page {{ request.GET.page }} of {% endif %}
      <strong>{{ search_results.query.total }}</strong> results for <strong>{{ request.GET.q }}</strong>
    </h2>
    <p>
      <small>Click the <a href="#" data-toggle="modal" data-target="#moreInfo" title="What’s this?"><img src="{% static 'img/donut.png' %}" alt="Image of the Altmetric donut"/> <strong>badge</strong></a> to view additional data about each article.</small>
    </p>
    {% endif %}

    <div class="row">

      {% for article in search_results.results|dictsortreversed:"score" %}
      <article class="col-sm-6 col-md-4 col-lg-3 article">

        {% if article.journal or article.type %}
        <small>
          {% if article.type %}{{ article.type|title }}{% endif %}
          {% if article.journal %} from <em>{{ article.journal|safe }}</em>{% endif %}
        </small>
        {% endif %}

        <h3 class="article__title">
          <a href="{{ article.url }}" title="Visit original source" target="_blank" rel="noopener">{{ article.title }}</a>
        </h3>

        {% if article.published_on %}
        <small>
          {{ article.published_on|print_timestamp }}
        </small>
        {% endif %}

        {% if article.images %}
        <h4 class="sr-only">More information</h4>
        <figure class="article__score-figure">
          <a
            href="{{ article.details_url }}"
            target="_blank"
            rel="noopener"
            class="article__score-link"
            data-more="More info"
            data-toggle="tooltip"
            data-placement="right"
            data-html="true"
            data-template="
              <div class='tooltip results__tooltip' role='tooltip'>
                  <div class='arrow'></div>
                  <div class='tooltip-inner'></div>
                </div>"
            title="
              <section class='sources'>
                <h5 class='sources__title'>Mentions by source</h5>
                <ul class='sources__list'>
                  {% with 'core/partials/sources_list.html' as source %}
                  {% include source with count=article.cited_by_posts_count type='<strong>total mentions</strong>' %}
                  {% include source with count=article.cited_by_delicious_count type='by Delicious users' %}
                  {% include source with count=article.cited_by_fbwalls_count type='on Facebook pages' %}
                  {% include source with count=article.cited_by_feeds_count type='in blog posts' %}
                  {% include source with count=article.cited_by_forum_count type='in forum answers' %}
                  {% include source with count=article.cited_by_gplus_count type='in Google+ posts' %}
                  {% include source with count=article.cited_by_linkedin_count type='in Linkedin posts' %}
                  {% include source with count=article.cited_by_msm_count type='mentions in the news' %}
                  {% include source with count=article.cited_by_peer_review_sites_count type='on peer review sites' %}
                  {% include source with count=article.cited_by_pinners_count type='by Pinterest users' %}
                  {% include source with count=article.cited_by_policies_count type='in policy sources' %}
                  {% include source with count=article.cited_by_qs_count type='in a StackExchange comment' %}
                  {% include source with count=article.cited_by_rdts_count type='in Reddit comments' %}
                  {% include source with count=article.cited_by_rh_count type='on research highlight platforms' %}
                  {% include source with count=article.cited_by_tweeters_count type='tweets' %}
                  {% include source with count=article.cited_by_videos_count type='on YouTube channels' %}
                  {% include source with count=article.cited_by_weibo_count type='on Sina Weibo posts' %}
                  {% include source with count=article.cited_by_wikipedia_count type='on Wikipedia pages' %}
                  {% endwith %}
                </ul>
                <p class='sources__text'><em>Click for more details</em></p>
              </section>
              "
          >
            <img src="{{ article.images.small }}" alt="Donut representation of this article’s Altmetric Attention Score: {{ article.score }}"/>
          </a>
        </figure>
        {% endif %}

        {% if article.is_oa %}
        <p>
          <strong>Available in Open Access</strong>
        </p>
        {% endif %}
      </article>

      {% empty %}
      <section class="col-sm-12 results__section_is-empty">
        <h2>{{ search_results.message|safe }}</h2>
      </section>

      {% endfor %}

    </div>

    {# Very hacky way to display pagination #}
    {% if page_number|add:"0" > 1 %}
    <nav aria-label="pageNavigation" class="page-nav">
      <h3 class="page-nav__title">Page navigation</h3>
      <ul class="page-nav__list">
      {% for i in x|ljust:page_number %}
        <li class="page-nav__item">
          <a href="{{ request.get_full_path }}&page={{ forloop.counter }}" class="page-nav__link{% if request.GET.page|add:"0" == forloop.counter %} page-nav__link_is-active{% endif %}">{{ forloop.counter }}</a>
        </li>
      {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </div>
</section>
{% endif %}

{% endblock %}
